.box-type0 {
}

/* Start */
.box-type1 {
  font-family: Arial;
  font-size: 20px;
}

/* End */
.box-type2 {
  font-family: Arial;
  font-size: 20px;
}

/* Boss */
.box-type3 {
  font-family: Arial;
  font-size: 15px;
}

/* Position */
.box-type4 {
  font-family: Arial;
  font-size: 20px;
}

/* NPC */
.box-type5 {
  font-family: Arial;
  font-size: 10px;
}
