.icon {
  display: flex;
}

.icon p {
  text-shadow: 0 0 4px black;
  min-width: max-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-family: serif;
}
@media (any-hover: hover) {
  .icon p:hover {
    text-decoration-line: underline;
  }
}

.icon p:active {
  text-decoration-line: underline;
}
